.card {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: auto; 
    height: 100px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid #736E6E;
}

.card-title {
    color: #333;
    margin: 10px 0;
}

.card-description {
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
}

.card-image {
    width: auto;
    height: auto;
    border: 1px solid #736E6E;
}

#linkId{
    text-decoration: none;
    color: black;
}