
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.logo{
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
}

.nav-links {
  display: flex;
  list-style: none;
  font-size: 18px;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.login-btn, .signup-btn {
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 15px;
  font-weight: 500;
}

.login-btn {
  background-color: #7297DB;
  color: white;
  margin-right: 15px;
}

.signup-btn {
  background-color: #C9D2E2;
  color: black;
}

.auth-buttons .profile-circle {
  width: 40px;
  height: 40px;
  background-color: #7297DB;
  color: #7297DB;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: white;
  padding: 30px;
  border-radius: 8px;
  width: 400px;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: black;
}

.modal-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-login-btn {
  background-color: #7297DB;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}
