body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* Prevent horizontal scrolling on the entire page */
}

h1 {
  text-align: center;
}

/* .image-container {
    display: flex;
    justify-content: center;
    align-items: center;     
  }
  
  .welcomeImage {
    max-width: 100rem;
    height: auto;
    object-fit: cover;
  } */


  .image-container {
    display: flex;
    justify-content: flex-start; /* Align horizontally to the left */
    align-items: flex-end; /* Align vertically to the bottom */
    height: 40vh; /* Adjusted height */
    color: white; /* Text color */
    background-image: url('../Images/Welcome.png'); /* Ensure the path is correct */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px; /* Padding inside the container */
    margin: 40px; 
  }
  
  .header-content h1{
    text-align: left;
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 900;
    /* margin-bottom: 0px; */
  }

  .web-des{
    color: white;
    font-size: 1.2rem;
  }
  
  .search-box {
    margin-top: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    width: 300px;
    margin-right: 10px; /* Space between input box and button */
    border: none;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #7297DB; /* Example button color: Bootstrap primary blue */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  